/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Antlr3.Runtime.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Microsoft.Web.Infrastructure.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Newtonsoft.Json.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Net.Http.Formatting.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Helpers.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Http.WebHost.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Http.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Mvc.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Optimization.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Razor.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.Deployment.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.Razor.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/WebGrease.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
