/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Client.Library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Antlr3.Runtime.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Microsoft.Web.Infrastructure.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Newtonsoft.Json.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Net.Http.Formatting.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Helpers.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Http.WebHost.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Http.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Mvc.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Optimization.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Razor.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.Deployment.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.Razor.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/WebGrease.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcIQAPI/jcIQAPI.Server.Library/bin/Debug/System.Web.Http.dll
/jcIQAPI/jcIQAPI.Server.Library/bin/Debug/System.Web.Http.xml
/jcIQAPI/jcIQAPI.Server.Library/bin/Debug/jcIQAPI.Server.Library.dll
/jcIQAPI/jcIQAPI.Server.Library/bin/Debug/jcIQAPI.Server.Library.pdb
/jcIQAPI/jcIQAPI.Server.Library/bin/Debug/jcIQAPI.Universal.Library.dll
/jcIQAPI/jcIQAPI.Server.Library/bin/Debug/jcIQAPI.Universal.Library.pdb
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/jcIQAPI.Server.Library.csproj.FileListAbsolute.txt
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/jcIQAPI.Server.Library.csprojResolveAssemblyReference.cache
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/jcIQAPI.Server.Library.dll
/jcIQAPI/jcIQAPI.Server.Library/obj/Debug/jcIQAPI.Server.Library.pdb
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Antlr3.Runtime.pdb
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/Newtonsoft.Json.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Net.Http.Formatting.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Helpers.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Http.WebHost.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Http.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Mvc.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Optimization.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.Razor.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.Deployment.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.Razor.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/System.Web.WebPages.xml
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/jcIQAPI.Server.Library.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/jcIQAPI.Server.Library.pdb
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/jcIQAPI.Tests.WebAPI.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/jcIQAPI.Tests.WebAPI.dll.config
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/jcIQAPI.Tests.WebAPI.pdb
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/jcIQAPI.Universal.Library.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/jcIQAPI.Universal.Library.pdb
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/Microsoft.CSharp.Core.targets
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/Microsoft.VisualBasic.Core.targets
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/System.Collections.Immutable.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/System.Reflection.Metadata.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/VBCSCompiler.exe
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/VBCSCompiler.exe.config
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/csc.exe
/jcIQAPI/jcIQAPI.Tests.WebAPI/bin/roslyn/vbc.exe
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/jcIQAPI.Tests.WebAPI.csproj.FileListAbsolute.txt
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/jcIQAPI.Tests.WebAPI.csprojResolveAssemblyReference.cache
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/jcIQAPI.Tests.WebAPI.dll
/jcIQAPI/jcIQAPI.Tests.WebAPI/obj/Debug/jcIQAPI.Tests.WebAPI.pdb
/jcIQAPI/jcIQAPI.Universal.Library/bin/Debug/jcIQAPI.Universal.Library.dll
/jcIQAPI/jcIQAPI.Universal.Library/bin/Debug/jcIQAPI.Universal.Library.pdb
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/jcIQAPI.Universal.Library.csproj.FileListAbsolute.txt
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/jcIQAPI.Universal.Library.csprojResolveAssemblyReference.cache
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/jcIQAPI.Universal.Library.dll
/jcIQAPI/jcIQAPI.Universal.Library/obj/Debug/jcIQAPI.Universal.Library.pdb
